.section2{
    display: flex;
    flex-direction: column;
}
.camera, .camera2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 70px;
}
.cameratxtbox{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 0 40px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15), 0 4px 10px rgba(52, 152, 219, 0.2);
    border-radius: 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease;
}
.cameratxtbox.show{
    opacity: 1;
    transform: translateY(0);
}
.cameraimg{
    width: 600px;
    height: 350px;
    overflow-x: hidden;
    position: relative;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease;
}
.cameraimg.show{
    opacity: 1;
    transform: translateY(0);
}
.cameraslider, .cameraslider2{
    width: 300%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    transition: all ease-in 0.4s;
}
.cameraslider2{
    width: 500%;
}
.cimg1, .cimg2, .cimg3, .cimg4, .cimg5{
    width: 100%;
    height: 350px;
}
.denumireaCamerei, .denumireaCamerei2{
    text-align: center;
    font-size: 32px;
}
.pretulCamerei, .pretulCamerei2{
    font-size: 28px;
    text-align: center;
}
.pretulCamerei span, .pretulCamerei2 span{
    color: #B2241C;
}
.section2 h1{
    text-align: center;
    font-weight: normal;
    font-size: 32px;
}   
.c-leftarrowbox1, .c-rightarrowbox1, .c-leftarrowbox2, .c-rightarrowbox2{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    background-color: rgba(163, 163, 163, 0.644);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.c-leftarrowbox1 img, .c-leftarrowbox2 img{
    height: 30px;
    width: auto;
    margin-left: -5px;
}
.c-rightarrowbox1 img, .c-rightarrowbox2 img{
    height: 30px;
    width: auto;
    margin-right: -5px;
}
.c-leftarrowbox1, .c-leftarrowbox2{
    left: 2%;   
}
.c-rightarrowbox1, .c-rightarrowbox2{
    right:2%;
}
@media (max-width: 768px){
    .camera{
        flex-direction: column-reverse;
        align-items: center;
    }
    .camera2{
        flex-direction: column;
        align-items: center;
    }
    .cameratxtbox{
        width: 80%;
        padding: 0 20px;
        margin-bottom: 30px;
    }
    .cameraimg{
        width: 90%;
        height: 200px;
    }
    .cimg1, .cimg2, .cimg3, .cimg4, .cimg5{
        height: 200px;
        width: 100%;
        object-fit: fill;
    }
    .denumireaCamerei, .denumireaCamerei2{
        font-size: 26px;
    }
    .pretulCamerei, .pretulCamerei2{
        font-size: 20px;
    }
}