@keyframes up{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.html{
    scroll-behavior: auto;
}
.menu{
    display: flex;
    flex-direction: column;
    padding: 30px 5%;
}
.despre{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px 50px;
    align-items: center;
    
}
.despreimg{
    height: 339px;
    width: 45%;
    border-radius: 30px;
    animation: up 0.6s ease;
}
.despretxt{
    max-width: 40%;
    font-size: 20px;
    line-height: 1.5em;
    text-align: center;
    animation: up 0.6s ease;
}
.section2 h1{
    animation: up 0.6s ease;
}
.section1header{
    margin-top: 20px;
    width: 90%;
    padding: 20px 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F1F1F1;
    animation: up 0.6s ease;
}
.categorii{
    width: 46%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.categorii a{
    font-size: 24px;
    text-decoration: none;
    color: black;
    transition: all ease-in-out 0.1s;
}
.categorii a:hover{
    transform: scale(1.15);
    color: #B2241C;
}
.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10{
    padding-left: 30px;
}
.menuc1, .menuc2, .menuc3, .menuc4, .menuc5, .menuc6, .menuc7, .menuc8, .menuc9{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    justify-items: center;
    row-gap: 20px;
}
.box{
    display: flex;
    flex-direction: column;
    width: 250px;
}
.upperdeck{
    position: relative;
}
.imagebox{
    height: 250px;
    width: 250px;
    border-radius: 10px;
}
.pricebox{
    position: absolute;
    bottom: 10px;
    right: 5px;
    background-color: #eaeaeada;
    border-radius: 14.25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    padding: 5px 5px;
}
.productName{
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin: 0;
}
.productDescription{
    font-size: 14px;
    padding: 5px 10px;
    text-align: center;
    margin: 0;
}
.quantity{
    font-size: 13px;
    color: #3d3d3d;
    margin: 0;
    font-weight: 500;
}
.price{
    font-size: 16px;
    margin: 0;
    font-weight: 500;
}


@media (max-width: 768px){
    .despre{
        padding: 20px 10px;
        flex-direction: column;
    }
    .despreimg{
        width: 90%;
        height: auto;
    }
    .despretxt{
        max-width: 90%;
        font-size: 15px;
    }
    .section1header{
        flex-direction: column;
        width: 95%;
        padding: 10px 2.5%;
        height: 70px;
        background-color: rgb(207, 207, 207);
    }
    .categorii{
        width: 100%;
        justify-content: space-between;

    }
    .categorii a{
        font-size: 20px;
        text-align: center;
    }
    .categorii a:hover{
        transform: scale(1);
        color: black;
    }
    .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9{
        font-size: 25px;
        padding-left: 12px;
    }
    .menuc1, .menuc2, .menuc3, .menuc4, .menuc5, .menuc6, .menuc7, .menuc8, .menuc9{
        grid-template-columns: 1fr 1fr;
    }
    .box{
        width: 150px;
    }
    .imagebox{
        width: 150px;
        height: 150px;
    }
    .pricebox{
        width: 100px;
        padding: 2px 5px;
        bottom: 8px;
        right: 3px;
    }
    .productDescription{
        font-size: 12px;
        padding: 5px 5px;
    }
    .quantity{
        font-size: 9px;
    }
    .price{
        font-size: 14px;
    }

}